<div class="registration login">
  <form id="registration" class="login__form-card registration__form-card">
    <div>
      <h1 class="login__title">Регистрация</h1>
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{phoneInput}}}
      {{{passwordInput}}}
      {{{againPasswordInput}}}
    </div>
    <div class="login__button-wrapper">
      {{{submitButton}}}
      {{{linkButton}}}
    </div>
  </form>
</div>
