<div class="input-field input-field--{{default variant "standard"}} {{#if errorMessage}}input-field--error{{/if}} {{customClass}}">
  {{#if leftIcon}}
    <span class="input-field__left-icon">{{{leftIcon}}}</span>
  {{/if}}

  <label class="input-field__label" for="{{default id name}}">{{label}}</label>

  <input
    id="{{default id name}}"
    name="{{name}}"
    type="{{default type "text"}}"
    form="{{formId}}"
    {{#if disabled}}disabled{{/if}}
    {{#if value}}value="{{value}}"{{/if}}>

  {{#if errorMessage}}
    <div class="input-field__error-label">{{errorMessage}}</div>
  {{/if}}
</div>
