<button
  class="{{className}}"
  type="{{type}}"
  data-page="{{page}}"
  {{#if disabled}}disabled{{/if}}
>
  {{#if icon}}
    <span class="button__icon">{{{icon}}}</span>
  {{/if}}
  {{#if label}}
    <span class="button__text">{{label}}</span>
  {{/if}}
</button>
