<button
  class="button button--{{variant}} {{customClass}}"
  {{#if page}}data-page="{{page}}"{{/if}}
  {{#if type}}type="{{type}}"{{/if}}>

  {{#if icon}}
    <span class="icon">
      {{{icon}}}
    </span>
  {{else}}
    {{label}}
  {{/if}}

</button>
