<button
  class="button button--{{default variant 'primary'}} {{customClass}}"
  {{#if page}}data-page="{{page}}"{{/if}}
  type="{{default type 'button'}}">
  {{#if icon}}
    <span class="icon">
      {{{icon}}}
    </span>
  {{/if}}

  {{#if label}}
    <span class="button__text">{{label}}</span>
  {{/if}}
</button>
