<div class="feed">
  <div class="feed__header">
    {{#if chatUsers}}
      <div class="feed__users">
        {{#each chatUsers}}
          <div class="feed__user-chip" title="@{{login}}">
            <span class="feed__user-avatar">{{#if avatar}}<img src="https://ya-praktikum.tech/api/v2/resources{{avatar}}" alt="" />{{else}}{{#if ../avatarIsSvg}}{{{../avatarFallback}}}{{else}}<img src="{{../avatarFallback}}" alt="" />{{/if}}{{/if}}</span>
            <span class="feed__user-name">{{default display_name (default first_name login)}}</span>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="feed__messages" id="feed-messages">
    {{#if messages.length}}
      {{#each messages}}
        {{#if this.content}}
          <div class="feed__message {{#if this.isMine}}feed__message--mine{{/if}}">
            <div class="feed__bubble">
              {{this.content}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{else}}
      <div class="feed__empty">Пока нет сообщений</div>
    {{/if}}
  </div>

  <form class="feed__footer" data-form="send">
    {{{input}}}
    {{{button}}}
  </form>
</div>
