<div class="feed">
  <header class="feed__header">
    <div class="feed__contact">
      {{{avatar}}}
      <span>{{contact.name}}</span>
    </div>
    <button type="button" class="menu-button" aria-label="Меню">
      <span class="point"></span>
      <span class="point"></span>
      <span class="point"></span>
    </button>
  </header>
  <div class="feed__main">
    {{#each messages}}
      <div class="message{{#if isOwn}} message--own{{/if}}{{#if image}} message--image-only{{/if}}">
        {{#if text}}<p>{{text}}</p>{{/if}}
        {{#if image}}<img src="{{image}}" alt="media" class="message__image" />{{/if}}
        <div class="message__time{{#if image}} message__time--darkened{{/if}}">{{time}}</div>
      </div>
    {{/each}}
  </div>
  <div class="feed__new-message">
    <form id="new-message">
      <div class="feed__input">
        {{{input}}}
      </div>
      {{{button}}}
    </form>
  </div>
</div>
