<div class="user-profile">
  <div class="user-profile__back-button">
    {{{backButton}}}
  </div>
  <div class="user-profile__main">
    <form id="user-profile-form">
      <div class="user-profile__short-info">
        {{{avatar}}}
        <p>{{display_name}}</p>
      </div>
      <div class="user-profile__detailed-info">
        <div class="user-profile__line">
          <span>Старый пароль</span>
          {{{oldPasswordInput}}}
        </div>
        <div class="user-profile__line">
          <span>Новый пароль</span>
          {{{newPasswordInput}}}
        </div>
        <div class="user-profile__line">
          <span>Повторите новый пароль</span>
          {{{newPasswordAgainInput}}}
        </div>
      </div>
      <div class="user-profile__controls user-profile__controls--edit">
        {{{submitButton}}}
      </div>
    </form>
  </div>
</div>
