<div class="user-profile">
  <div class="user-profile__back-button">
    {{{backButton}}}
  </div>
  <div class="user-profile__main">
    <form id="user-profile-form">
      <div class="user-profile__short-info">
        <button type="button" id="user-profile-avatar" class="user-profile__avatar-button" aria-label="Изменить аватар">
          {{{avatar}}}
          <div class="overlay">
            <span>Поменять аватар</span>
          </div>
        </button>
        <p>{{display_name}}</p>
      </div>

      <div class="user-profile__detailed-info">
        <div class="user-profile__line">
          <span>Почта</span>
          {{{emailInput}}}
        </div>
        <div class="user-profile__line">
          <span>Логин</span>
          {{{loginInput}}}
        </div>
        <div class="user-profile__line">
          <span>Имя</span>
          {{{firstNameInput}}}
        </div>
        <div class="user-profile__line">
          <span>Фамилия</span>
          {{{secondNameInput}}}
        </div>
        <div class="user-profile__line">
          <span>Имя в чате</span>
          {{{displayNameInput}}}
        </div>
        <div class="user-profile__line">
          <span>Телефон</span>
          {{{phoneInput}}}
        </div>
      </div>

      <div class="user-profile__controls {{#unless disableEdit}}user-profile__controls--edit{{/unless}}">
        {{#if disableEdit}}
          <div class="user-profile__line">
            {{{editDataButton}}}
          </div>
          <div class="user-profile__line">
            {{{editPasswordButton}}}
          </div>
          <div class="user-profile__line button--exit">
            {{{logoutButton}}}
          </div>
        {{else}}
          {{{submitButton}}}
          {{{cancelButton}}}
        {{/if}}
      </div>
    </form>
  </div>

  {{{modal}}}
</div>
