<div class="chats">
  <aside class="chats__sidebar">
    <div class="chats__header">
      <div class="chats__top-buttons">
        {{{profileButton}}}
        {{{createChatButton}}}
      </div>

      {{{searchInput}}}
    </div>

    <div class="chats__list">
      {{#if chatItems}}
        {{{chatItems}}}
      {{else}}
        <p class="chats__empty">Нет доступных чатов</p>
      {{/if}}
    </div>
  </aside>

  <section class="chats__main" id="chat-feed">
    <!-- панель действий для активного чата -->
    <div class="chats__actions">
      {{{addUserButton}}}
      {{{removeUserButton}}}
      {{{deleteChatButton}}}
    </div>

    {{{feed}}}
    {{{modal}}}
  </section>
</div>
