<div class="avatar{{#if customClass}} {{customClass}}{{/if}}" style="--avatar-width: {{width}}; --avatar-height: {{height}};">
  {{#if isSvg}}
    {{{src}}}
  {{else}}
    <img src="{{src}}" alt="{{alt}}" />
  {{/if}}
</div>
